{% extends "base.html" %}
{% block content %}

<section class="education-page py-5 ">
  <div class="container">
    <h2 class="text-center mb-4 gradient-text floating-text" style="font-size: 50px;padding-bottom: 3px;" >My Education Journey</h2>


     <!-- University -->
    <div class="row align-items-center mb-5 glass-card" style="padding: 20px">
<div class="col-md-8 text-white">
  <h5>SETEC Institute</h5>

  <p class="small mb-2">
    <i class="bi bi-calendar3"></i> 2022 - Present
  </p>

  <p>
    University life has been exciting and challenging.<br>
    I have engaged in projects, internships, and networking with like-minded peers.<br>
    Each day provides opportunities to learn, grow academically, and develop practical skills for my future career.
  </p>
</div>

      <div class="col-md-4">
          <a href="https://maps.app.goo.gl/CpCtSJ56tqnXzZx39" target="_blank">
            <img src="{{ url_for('static', filename='images/school/university.jpg') }}"
             class="img-fluid rounded shadow animate__animated animate__fadeIn bordered-image"
             alt="University">
          </a>

      </div>
    </div>
<!-- Korean School-->
    <div class="row align-items-center mb-5 glass-card" style="padding: 20px">
      <div class="col-md-8 text-white" >
        <h5>Cambodia-Korea Cooperation Center (CKCC)</h5>
        <p class="small mb-2"><i class="bi bi-calendar3"></i> 2024 - Present</p>
        <p>
          I am currently studying Korean at CKCC and dedicated to improving my language skills.<br>
      Through consistent practice, interactive lessons, and cultural activities, I am gradually building my reading, writing, and speaking abilities.<br>
      Although I have not graduated yet, I am committed to learning and gaining confidence in using Korean for everyday communication.
        </p>
      </div>
      <div class="col-md-4">
          <a href=https://maps.app.goo.gl/BQWDy348yFGBAhYk6 target="_blank">
        <img src="{{ url_for('static', filename='images/school/ckcc.jpg') }}"
             class="img-fluid rounded shadow animate__animated animate__fadeIn bordered-image"
             alt="High School">
          </a>
      </div>
    </div>

    <!-- English School -->
    <div class="row align-items-center mb-5 glass-card" style="padding: 20px">
      <div class="col-md-8 text-white">
        <h5>Australia Center for Education (ACE)</h5>
        <p class="small mb-2"><i class="bi bi-calendar3"></i> 2022 - 2025</p>
        <p>
          At ACE, I focused on improving my English language skills through immersive learning.<br>
      I participated in interactive classes, group discussions, and cultural activities that enhanced my communication abilities.<br>
      This experience strengthened my confidence in speaking, listening, reading, and writing in English,
            preparing me for future academic and professional opportunities.
        </p>
      </div>
      <div class="col-md-4">
           <a href="https://maps.app.goo.gl/nnhss1HUiSyX14M16" target="_blank">
        <img src="{{ url_for('static', filename='images/school/ace.jpg') }}"
             class="img-fluid rounded shadow animate__animated animate__fadeIn bordered-image"
             alt="University">
           </a>
      </div>
    </div>

      <!-- High School -->
    <div class="row align-items-center mb-5 glass-card" style="padding: 20px">
      <div class="col-md-8 text-white">
        <h5>Samdech Decho Hun Sen Suong High School</h5>
        <p class=" small mb-2"><i class="bi bi-calendar3"></i> 2017 - 2022</p>
        <p>
          High school was a time of exploration and growth.<br>
          I challenged myself academically, joined clubs, and developed teamwork and leadership skills.<br>
          This period helped me discover my interests, build lasting friendships, and prepare for future studies.
        </p>
      </div>
      <div class="col-md-4">
          <a href="https://maps.app.goo.gl/cFJCAWcfMSY2u2fi8" target="_blank">

              <img src="{{ url_for('static', filename='images/school/highschool.jpg') }}"
             class="img-fluid rounded shadow animate__animated animate__fadeIn bordered-image"
             alt="High School">
          </a>

      </div>
    </div>

    <!-- Elementary School -->
    <div class="row align-items-center mb-5 glass-card" style="padding: 20px">
      <div class="col-md-8 text-white">
        <h5>Raksmey Koma Elementary School</h5>
        <p class="small mb-2"><i class="bi bi-calendar3"></i> 2010 - 2017</p>
        <p>
          I started my learning adventure in elementary school, where I discovered my love for reading and arts.<br>
          I enjoyed making friends, exploring new subjects, and participating in school activities.<br>
          Every day was full of curiosity, fun experiments, and small achievements that shaped my early learning journey.
        </p>
      </div>
      <div class="col-md-4">
          <a href="https://maps.app.goo.gl/Pm1YB2uUuuFjhnXi6" target="_blank">
              <img src="{{ url_for('static', filename='images/school/Eelementary.jpg') }}"
             class="img-fluid rounded shadow animate__animated animate__fadeIn bordered-image"
             alt="Elementary School">
          </a>

      </div>
    </div>



  </div>
</section>

{% endblock %}
