{% extends "base.html" %}
{% block content %}

<section>

</div>
</section>

<section class="page-section d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="glass-card gradient-text text-center" style="width: 1300px; height:500px; display: flex; justify-content: center; align-items: center;">
    <h1 class="typing-text ">
      <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
      <span> </span>
      <span>t</span><span>o</span>
      <span> </span>
      <span>m</span><span>y</span>
      <span> </span>
      <span>P</span><span>o</span><span>r</span><span>t</span><span>f</span><span>o</span><span>l</span><span>i</span><span>o</span>
    </h1>
  </div>
</section>



  <!-- PROFILE Section -->
  <section class="page-section">
    {% include "index.html" %}
  </section>

  <!-- EDUCATION Section -->
  <section class="page-section ">
    {% include "education.html" %}
  </section>

  <!-- PROJECTS Section -->
  <section class="page-section ">
    {% include "projects.html" %}
  </section>

  <!-- CONTACT Section -->
  <section class="page-section ">
    {% include "contact.html" %}
  </section>

  <!-- CV Section -->
  <section class="page-section">
    {% include "CV.html" %}
  </section>
{% endblock %}
