
{% extends "base.html" %}
{% block content %}

    <div class="container" style="padding: 70px">

<!-- Hero Section -->
<section class="py-5  animate__animated animate__fadeIn">
    <div class="row align-items-center">

      <!-- Left Column: Profile Photo -->
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">

        <img src="{{ url_for('static', filename='images/profile.jpg') }}"
             class="profile-pic animate__animated animate__zoomIn rounded shadow"
             width="320" height="240" alt="Profile Photo">
      </div>

      <!-- Right Column: Name + Description + Link -->
      <div class="col-md-6 text-md-end text-center">
        <h1 class="animate__animated animate__fadeInDown floating-text text-white">
          Hello, I'm
            <span class="text-primary " style="font-size: 50px">KANIKA</span>
        </h1>
          <br>
        <p class="lead animate__animated animate__fadeInUp gradient-text">
          Year 4 IT Student | UX/UI | Web & Mobile Developer
        </p>
        <a href="/cv" class="lead animate__animated animate__fadeInUp gradient-text">
          Click here to see my Circum Vitae (CV)
        </a>
      </div>

    </div>

</section>


<!-- About Me -->
<section class="container py-5 animate__animated animate__fadeInUp glass-card">
  <h2 class="mb-3 animate__animated animate__fadeInLeft gradient-text">About Me</h2>
  <p class="lead animate__animated animate__fadeInRight text-white" style="font-size: 30px">
   I am a senior student at <a class="gradient-text" href="https://www.setecu.com/" target="_blank">SETEC Institute</a>, majoring in Management Information Systems (MIS) with a strong interest in UX/UI design, web development, and mobile application development. I have experience creating user-friendly interfaces and developing basic web and mobile applications.
    I have learned to work with Linux and programming languages such as Python, JavaScript, Java, and C#. I also have experience using databases including MySQL, Oracle, SQLite, and Navicat, as well as basic knowledge of networking systems.
    I also use Adobe tools such as Photoshop, Illustrator, and Adobe Premiere Pro for design and multimedia work. This helps me combine technical skills with simple and clean visual design. I am eager to learn, improve my skills, and gain real-world experience through my internship.

  </p>
</section>

<!-- Interests & Hobbies -->
<section class="container py-5 animate__animated animate__fadeInUp">
  <h2 class="mb-4 animate__animated animate__fadeInLeft gradient-text" >Interests & Hobbies</h2>

  <div class="row g-4">
<!-- UI/UX Design -->
    <div class="col-sm-6 col-md-4 col-lg-3">
<div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">

        <a style="text-decoration: none" href="https://www.pinterest.com/pin/1131810950110636022/" target="_blank" class="card-body">
          <img src="{{ url_for('static', filename='images/logos/computer.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">UI/UX Design</h6>
        </a>
      </div>
    </div>
    <!-- Coding & Web Development -->
    <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://www.youtube.com/watch?v=K5KVEU3aaeQ&t=56s" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
          <img src="{{ url_for('static', filename='images/logos/coding.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white;" >Coding & Web Development</h6>
        </div>
      </a>
    </div>

    <!-- Mobile App Design -->
    <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://www.figma.com/" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">

           <img src="{{ url_for('static', filename='images/logos/cellphone.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">Mobile App Design</h6>
        </div>
      </a>
    </div>

    <!-- Music-->
    <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://www.youtube.com/watch?v=bj-Yfakjllc&list=PLIFyRwBY_4bRLmKfP1KnZA6rZbRHtxmXi" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/network.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">Networking</h6>
        </div>
      </a>
    </div>

      <!-- Gym-->
          <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://maps.app.goo.gl/b4S6uhYmxQrq2rAt5" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/training.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">Training</h6>
        </div>
      </a>
    </div>

        <!-- Music -->
    <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://youtu.be/jWQx2f-CErU?si=Wp3kfzlivrQTDrZR" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/music.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">Music</h6>
        </div>
      </a>
    </div>

      <!-- Researching -->
    <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://www.google.com/" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/market-research.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white" >Researching</h6>
        </div>
      </a>
    </div>
      <!--Explore-->
          <div class="col-sm-6 col-md-4 col-lg-3">
<a style="text-decoration: none" href="https://whc.unesco.org/en/list/668/" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/map-location.gif') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">Traveling</h6>
        </div>
      </a>
    </div>


  </div>
</section>


<!-- Technical Skills -->
<section class="container py-5 animate__animated animate__fadeInUp">
  <h2 class="mb-4 animate__animated animate__fadeInLeft gradient-text ">Technical Skills</h2>

  <div class="row g-4">
    <!-- Python -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
        <img src="{{ url_for('static', filename='images/logos/python.png') }}" class="mb-2" style="width:50px;">
          <h5 class="card-title text-primary">Python</h5>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/logos/java-script.png') }}" alt="JavaScript" class="mb-2" style="width:50px;">
          <h5 class="card-title text-secondary">JavaScript</h5>
        </div>
      </div>
    </div>

    <!-- Java -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/java.png') }}" alt="Java" class="mb-2" style="width:50px;">
          <h5 class="card-title text-success">Java</h5>
        </div>
      </div>
    </div>

    <!-- C# -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
            <img src="{{ url_for('static', filename='images/logos/c-sharp.png') }}" alt="c-sharp" class="mb-2" style="width:50px;">
          <h5 class="card-title text-danger">C#</h5>
        </div>
      </div>
    </div>

    <!-- HTML & CSS -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
           <img src="{{ url_for('static', filename='images/logos/html-5.png') }}" alt="html-5" class="mb-2" style="width:50px;">
          <h5 class="card-title text-warning">HTML & CSS</h5>
        </div>
      </div>
    </div>

    <!-- MySQL / Oracle -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/logos/mysql.png') }}" alt="mysql" class="mb-2" style="width:50px;">
          <h5 class="card-title text-info">MySQL / Oracle</h5>
        </div>
      </div>
    </div>
<!-- Linux -->
<div class="col-sm-6 col-md-4 col-lg-3">
 <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
      <img src="{{ url_for('static', filename='images/logos/linux.png') }}" alt="linux" class="mb-2" style="width:50px;">
      <h5 class="card-title " style="color: #6f42c1">Linux</h5>
    </div>
  </div>
</div>

<!-- Adobe Design -->
<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
    <div class="card-body">
      <img src="{{ url_for('static', filename='images/logos/photoshop.png') }}" alt="photoshop" class="mb-2" style="width:50px;">
      <h5 class="card-title" style="color: purple;">Adobe Design</h5>

    </div>
  </div>
</div>
  </div>
</section>

    <!-- Language -->
<section class="container py-5 animate__animated animate__fadeInUp ">
  <h2 class="mb-4 animate__animated animate__fadeInLeft gradient-text" style="padding: 3px">Languages</h2>

  <div class="row g-4">
<!-- KHMER -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <a style="text-decoration: none" href="https://www.mekong.net/cambodia/language.htm" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/logos/cambodia.png') }}"
               alt="cambodia"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">KHMER(Mother tongue)</h6>
        </div>
      </a>
    </div>
    <!-- Coding & Web Development -->
    <div class="col-sm-6 col-md-4 col-lg-3">
     <a style="text-decoration: none" href="https://dictionary.cambridge.org/dictionary/english/" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/logos/united-kingdom.png') }}"
               alt="English"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white">English(Professional)</h6>
        </div>
      </a>
    </div>

    <!-- Mobile App Design -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a style="text-decoration: none" href="https://i.pinimg.com/564x/8f/cc/71/8fcc71f5cc602bf87018b0462114412a.jpg" target="_blank" class="card text-center animate__animated animate__fadeInUp animate__delay-1s hobby-card glass-card">
        <div class="card-body">

           <img src="{{ url_for('static', filename='images/logos/south-korea.png') }}"
               alt="UI/UX"
               style="width:50px;"
               class="mb-2">
          <h6 class="card-title" style="color: white" >KOREAN(Elementary)</h6>
        </div>
      </a>
    </div>
  </div>
    </section>
    </div>
{% endblock %}
