{% extends "base.html" %}
{% block content %}
<section class="project-page py-5 ">
  <div class="container">
    <h2 class="text-center mb-5 gradient-text floating-text" style="font-size: 50px; padding-bottom: 3px;">
      My Projects
    </h2>

    <div class="projects-grid ">
      <!-- Card 1 -->
      <div class="project-card glass-card">
        <h3 class="gradient-text text-center">Shopping Cart Web App</h3>
        <p class="border-text d-inline-block text-center" style="color: honeydew">HTML, CSS, JavaScript, Angular</p>
        <div class="mt-3">
          <a href="https://renthomesystem.onrender.com/" target="_blank">Live Demo</a>
          <a href="#" target="_blank">Source Code</a>
          <a href="#" target="_blank">View Design</a>

        </div>
      </div>

      <!-- Card 2 -->
      <div class="project-card glass-card">
        <h3 class="gradient-text text-center">Renting Home System</h3>
        <p class="border-text d-inline-block text-center" style="color: honeydew">HTML, CSS, JavaScript, Python</p>
        <div class="mt-3">
          <a href="https://renthomesystem.onrender.com/" target="_blank">Live Demo</a>
          <a href="https://github.com/kanikarun/rent_home_system" target="_blank">Source Code</a>
          <a href="#" target="_blank">View Design</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="project-card glass-card">
        <h3 class="gradient-text text-center">Portfolio Website</h3>
        <p class="border-text d-inline-block text-center" style="color: honeydew">HTML, CSS, JS, Flask</p>
        <div class="mt-3">
          <a href="#" target="_blank">Live Demo</a>
          <a href="#" target="_blank">Source Code</a>
          <a href="#" target="_blank">View Design</a>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="project-card glass-card">
        <h3 class="gradient-text text-center">Mobile App / Website UI</h3>
        <p class="border-text d-inline-block text-center" style="color: honeydew">Figma,Adobe Photoshop,Illustrator</p>
        <div class="mt-3">
          <a href="#" target="_blank">Live Demo</a>
          <a href="#" target="_blank">Source Code</a>
          <a href="#" target="_blank">View Design</a>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
